<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.png">

    <title>Dashboard Administrateur</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
</head>

<body>
{% if (user.role == 2) %}
    <h1> Bonjour admin </h1>
    <a href="/">Accueil </a><br>
    <a href="admin/category">Gérer les catégories</a><br>
    <a href="#">Gérer les modérateurs</a><br>
    <a href="#"> Gérer les utilisateurs </a><br>
{% else %}
    <h1> <strong> Vous n'êtes pas autorisé à accéder à cet espace ! </strong></h1><br>
    Veuillez retourner à l'accueil pour vous connecter<br>
    <a href="/">Accueil</a>
{% endif %}

</body>
</html>