{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Modifier : {{ subject.suj_name }}</h1>
    {% include 'Subject/_form.html.twig' %}
    <a href="/subjects/show?id={{ subject.id }}">Back</a>
{% endblock %}
