{% extends 'layout.html.twig' %}

{% block content %}
<h1>Sujets</h1>
        {% if user.uti_name is defined %}
         <a onclick="display('form4')" class="newpost"> Créer un sujet</a>
            <form action="subjects/add?categoryId={{subjectList[0].categorie}}" method="POST" id="form4">
                <label for="subjectName">nom du sujet :</label>
                <input type="text" id="subjectName" name="subjectName" required><br>
                <label for="messageContent">Message :</label>
                <textarea id="messageContent" name="messageContent" required></textarea><br><br>
                <input type="submit" value="Valider" name="submit">                
            </form>
        {% else %}
        <p> vous devez vous connecter pour créer un sujet </p>
        {% endif %}
        <ul>
            {% for subject in subjectList %}
            <li><a href="messages?subjectId={{ subject.id }}">{{ subject.suj_name }}</a>
            auteur sujet : {{subject.uti_name}}</li>
            {% else %}
            <li>Il n'y a pas encore de sujet dans cette catégorie. Voulez-vous en ajouter un ?</li>
            {% endfor %}
        </ul>

<script>
        function display(param) {
            var element = document.getElementById(param);
            element.style.display = (element.style.display === "none") ? "block" : "none";
        }
</script>

<style>
    #form4{
        display : none;
    }
</style>
    {% endblock %}

