<nav class="nav">
<ul class = "navlist">
<li class="navitem"><a href="/categories">Catégories</a></li>
<li class = "navitem"> <a href="/subjects">Sujets</a></li>
<li class = "navitem"> <a href="/messages">Messages</a></li>
</ul>
</nav>

