{% extends 'layout.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block stylesheet %}
{{ parent() }}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block content %}
    {% if user.uti_name is defined %}
        <h1 class="titre_colore">Hello {{user.uti_name}}</h1>
    {% else %}
        <h1 class="titre_colore">Hello Wilder </h1>
    {% endif %}

    <div class="bloc_lien_discution">
        <a href="category">Discussion</a>
    </div>
    
{% endblock %}
