<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belleza&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/home.css">
    <script src="/assets/js/layout.js"></script>
    {% block stylesheet %}{% endblock %}
</head>

<body>
    <header>
        <div id="bloc_header_left">
            <a href="/">
                <img src="/assets/images/logoNumeritalk.png" alt="logo" class="logo"/>
                <p>numeritalk</p>
            </a>
            {% if user.uti_name is defined %}
                <a href="/user/logout">
                    <p>Se déconnecter</p>
                </a>
                <a href="/user/profil">
                    <p>Profil Utilisateur</p>
                </a>
                {% if user.role == 2 %}
                    <a href="/admin">
                        <p>Dashboard administrateur</p>
                    </a>
                {% endif %}
            {% else %}
                <a href="/user/login">
                    <p>Se connecter</p>
                </a>
                <a href="/user/register">
                    <p>S'inscrire</p>
                </a>
            {% endif %}
        </div>
        <div id="div_group_button_theme" onclick="theme(this)">
            <div id="button_theme">
                <img src="/assets/images/icones/sun.png" alt="soleil" class="icone_button_theme" id="sun"/>
                <img src="/assets/images/icones/moon.png" alt="lune" class="icone_button_theme hide" id="moon"/>
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Devdojd © 2024</p>
    </footer>
    {% block javascript %}{% endblock %}
</body>
</html>


