.bloc_inscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    background-color: #D9D9D9;
}

.form_inscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.input_ligne{
    margin: 3px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.input_ligne label{
    width: 130px;
}

.input_ligne input{
    width: 200px;
    border: none;
    background-color: white;
}