/* MIXIN */

@mixin Colonne{
    display: flex;
    flex-direction: column;
}

@mixin Ligne{
    display: flex;
    flex-direction: row;
}

@mixin _Centre{
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin Colonne_Centre{
    @include Colonne();
    @include _Centre();
}

@mixin Ligne_Centre{
    @include Ligne();
    @include _Centre();
}

/* COULEURS */

    $couleur_1 : #d0d0d0;
    $couleur_2 : #292929;
    $couleur_3 : #38c5ca;

/* POLICES */

    $belleza  : "belleza";

    /* FONT */

        @font-face {
            font-family: "belleza ";
            src: url('lelien.ttf')format('truetype');
        }

/* HTML */

    *{
        border-collapse: collapse;
    }

    html, body {
        margin: 0;
        border: 0;
        padding: 0;
    }

    header{
        background-color: $couleur_2;
        color: $couleur_1;
        @include Ligne();
        a{
            padding : 10px;
            text-decoration: none;
            &:hover{
                background-color: $couleur_3;
                color: $couleur_2;
            }
        }
    }

    footer{
        background-color: $couleur_2;
        color: $couleur_1;
        @include Ligne_Centre();
    }
    