<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.png">

    <title>Authentification</title>

</head>

<body>

<a href="/">Accueil</a><br>

    <form method="POST">
    <label for="username">identifiant :
    <input type="text" name="username"><br>
    <label for="password">password :
    <input type="password" name="password">

    <input type="submit" value="connecter" name="submit">
    </form>
    
</body>
</html>
