{% extends 'layout.html.twig' %}

{% block title %}Inscription {% endblock %}

{% block stylesheet %}
{{ parent() }}
    <link rel="stylesheet" href="/assets/css/register.css">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

    {% block content %}
        <div class="bloc_inscription">
            <h1>S'inscrire</h1>
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}

            <form action="" method="POST" class="form_inscription">
                <div class="input_ligne">
                    <label for="lastname">Nom</label>
                    <input id="lastname" name="lastname" type="text" placeholder="Entrez votre nom">
                </div>
                <div class="input_ligne">
                    <label for="firstname">Prénom</label>
                    <input id="firstname" name="firstname" type="text" placeholder="Entrez votre prénom">
                </div>
                <div class="input_ligne">
                    <label for="dateOfBirth">Date de naissance</label>
                    <input id="dateOfBirth" name="dateOfBirth" type="date" placeholder="Ajoutez votre date de naissance">
                </div>
                <div class="input_ligne">
                    <label for="emailAddress">Adresse mail</label>
                    <input id="email" name="email" type="email" placeholder="Entrez votre adresse mail">
                </div>
                <div class="input_ligne">
                    <label for="Country">Pays de résidence</label>
                    <input id="country" name="country" type="country" placeholder="Entrez votre pays de résidence">
                </div>
                <div class="input_ligne">
                    <label for="username">Identifiant</label>
                    <input id="username" name="username" type="text" placeholder="Entrez un identifiant">
                </div>
                <div class="input_ligne">
                    <label for="password">Mot de passe</label>
                    <input id="password" name="password" type="password" placeholder="Entrez un mot de passe">
                </div>
                <div class="input_ligne">
                    <label for="passwordVerification">Confirmer mot de passe</label>
                    <input id="passwordVerification" name="passwordVerification" type="password" placeholder="Confirmez votre mot de passe">
                </div>
                <button class="button_form">Envoyer</button>
            </form>
        </div>
{% endblock %}
