<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.png">

    <title>Catégories</title>

</head>

<body>

<h1> Liste des catégories </h1>
   <ul >
        {% for category in categoryList %}
        <a href="subjects?id={{category.id}}">{{category.cat_name}}</a><br>
        {% endfor %}
   </ul>
    
</body>
</html>
