<!DOCTYPE html>
<html>
<head>
    <title>Poster un message</title>
</head>
<body>
    <h1>Poster un nouveau message</h1>
    {# <form method="post" action="/messages/post"> #}
    <form method="post" action="#">
        <label for="subjectId">Sujet :</label>
        <input type="number" id="subjectId" name="subjectId" required><br><br>

        <label for="messageContent">Message :</label>
        <textarea id="messageContent" name="messageContent" required></textarea><br><br>

        <label for="userId">Identifiant :</label>
        <input type="number" id="userId" name="userId" required><br><br>

        <input type="submit" value="Post Message">
    </form>
</body>
</html>
